@font-face{
    font-family: "satoshi";
    src: url('/assets/font/Satoshi_Complete/OTF/Satoshi-Regular.otf');
}

@font-face{
    font-family: "Integral CF";
    src: url('/assets/font/Integral CF/Fontspring-DEMO-integralcf-regular.otf');
}