.icon {
  padding: 24px 100px 36px 100px;
  display: flex;
  gap: 12px;
  align-items: center;
  & .list {
    display: flex;
    gap: 4px;
    align-items: center;
    &-text {
      font-family: Satoshi;
      font-weight: 400;
      font-size: 16px;
      leading-trim: Cap height;
      line-height: 21.6px;
      letter-spacing: 0%;
      color: #00000099;
    }
    &-icon {
      display: flex;
      align-items: center;
    }
  }
}
.product-details-section {
  padding: 0 100px 80px 100px;
  display: flex;
  justify-content: space-between;

  &-tshirt {
    padding-right: 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: space-between;
  }
  &-image {
    padding-right: 40px;
    & img {
      height: 100%;
      width: 444px;
    }
  }
  &-text {
    & .product-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & .h3 {
        padding-bottom: 14px;
      }
      & h3 {
        font-family: Integral CF;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0%;
      }
      & .review-img {
        padding-bottom: 14.29px;
      }
      & img {
        width: 193px;
      }
      & .price {
        display: flex;
        gap: 10px;
        align-items: center;
        padding-bottom: 20px;
        & p {
          font-family: Satoshi;
          font-weight: 700;
          font-size: 24px;
          line-height: 32.4px;
          letter-spacing: 0%;
        }
        & .offer {
          color: #00000066;

          text-decoration: line-through;
        }
        & .percentage {
          border-radius: 62px;
          padding: 6px 14px;
          background: #ff33331a;
          color: #ff3333;
          font-family: Satoshi;
          font-weight: 500;
          font-size: 12px;
          line-height: 16.2px;
          letter-spacing: 0%;
        }
      }
    }
    & .para {
      font-family: Satoshi;
      font-weight: 400;
      font-size: 16px;
      leading-trim: Cap height;
      line-height: 22px;
      letter-spacing: 0%;
      color: #00000099;
      padding-bottom: 24px;
    }
    & .select-color {
      font-family: Satoshi;
      font-weight: 400;
      font-size: 16px;
      leading-trim: Cap height;
      line-height: 21.6px;
      letter-spacing: 0%;
      color: #00000099;
      padding-top: 24px;
      padding-bottom: 16px;
    }
    & .select-color-check {
      padding-bottom: 24px;
      & img {
        width: 143px;
      }
    }
    & .choose-size-text {
      font-family: Satoshi;
      font-weight: 400;
      font-size: 16px;
      leading-trim: Cap height;
      line-height: 21.6px;
      letter-spacing: 0%;
      color: #00000099;
      padding-top: 24px;
      padding-bottom: 16px;
    }
    & .choose-size {
      display: flex;
      gap: 12px;
      padding-bottom: 24px;
      & .size {
        border-radius: 62px;
        background: #f0f0f0;
        padding: 12px 24px;
        font-family: Satoshi;
        font-weight: 400;
        font-size: 16px;
        line-height: 21.6px;
        letter-spacing: 0%;
        color: #00000099;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    & .btn {
      padding-top: 24px;
      display: flex;
      justify-content: space-between;
      & .button-1 {
        display: flex;
        gap: 38px;
        border-radius: 62px;
        padding: 16px 20px;
        background: #f0f0f0;
        font-family: Satoshi;
        font-weight: 500;
        font-size: 16px;
        line-height: 21.6px;
        letter-spacing: 0%;
        width: 170px;
        justify-content: center;
        align-items: center;
      }
      & .button-2 {
        background: #000000;
        padding: 16px 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 62px;
        // width: 400px;
      }
    }
  }
}

.diff-section {
  padding: 0px 100px;
  // padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  &-wrapper {
    display: flex;
    padding: 0px 140px;
    justify-content: space-between;
    align-items: center;
    font-family: Satoshi;
    font-weight: 400;
    font-size: 20px;
    leading-trim: Cap height;
    line-height: 22px;
    letter-spacing: 0%;
    color: #00000099;
  }
}

.mini-line {
  width: 414px;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
}

.all-review-section {
  padding: 24px 100px 64px 100px;
  &-text {
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-1 {
      display: flex;
      gap: 8px;
      align-items: center;
      & .t1 {
        font-family: Satoshi;
        font-weight: 700;
        font-size: 24px;
        line-height: 32.4px;
        letter-spacing: 0%;
      }
      & .t2 {
        font-family: Satoshi;
        font-weight: 400;
        font-size: 16px;
        leading-trim: Cap height;
        line-height: 22px;
        letter-spacing: 0%;
        color: #00000099;
      }
    }
    &-2 {
      display: flex;
      gap: 10px;
      align-items: center;
      & .btn-1 {
        img {
          display: flex;
        }
      }
      & .btn-2 {
        img {
          display: flex;
        }
      }
      & .btn-3 {
        border-radius: 62px;
        padding: 16px 20px;
        background: #000000;
        color: white;
        font-family: Satoshi;
        font-weight: 500;
        font-size: 16px;
        line-height: 21.6px;
        letter-spacing: 0%;
      }
    }
  }
  &-review {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    & .review {
      border-radius: 20px;
      padding: 28px 32px;
      border: 1px solid #0000001a;
      display: flex;
      flex-direction: column;
      gap: 24px;

      &-text-1 {
        display: flex;
        flex-direction: column;
        gap: 15px;
        & .star {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        & .text {
          display: flex;
          flex-direction: column;
          gap: 12px;
          & .h {
            display: flex;
            gap: 4px;
            align-items: center;
            &-1 {
              font-family: Satoshi;
              font-weight: 700;
              font-size: 20px;
              leading-trim: Cap height;
              line-height: 22px;
              letter-spacing: 0%;
            }
            &-2 {
              & img {
                display: flex;
              }
            }
          }
          & .p {
            font-family: Satoshi;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0%;
            color: #00000099;
          }
        }
      }
      &-text-2 {
        font-family: Satoshi;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0%;
        color: #00000099;
      }
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    padding-top: 36px;
    & button {
      border-radius: 62px;
      padding: 16px 54px;
      border: 1px solid #0000001a;
      font-family: Satoshi;
      font-weight: 500;
      font-size: 16px;
      line-height: 21.6px;
      letter-spacing: 0%;
      background-color: white;
    }
  }
}

.navbar-logo {
  & a {
    text-decoration: none;
    color: black;
  }
}

.you-might-also-like-section {
  padding: 0px 100px 78px 100px;
  display: flex;
  flex-direction: column;
  gap: 55px;
  &-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Integral CF;
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: 0%;
    text-align: center;
  }
  & .products {
    display: flex;
    gap: 20px;
    // width: 100%;

    & .product {
      display: flex;
      flex-direction: column;
      gap: 16px;
      & img {
        width: 100%;
      }
      &-text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        & h3 {
          font-family: Satoshi;
          font-weight: 700;
          font-size: 20px;
          line-height: 27px;
          letter-spacing: 0%;
        }
        & img {
          width: 50%;
        }
        & .price {
          display: flex;
          gap: 10px;
          align-items: center;
          & p {
            font-family: Satoshi;
            font-weight: 700;
            font-size: 24px;
            line-height: 32.4px;
            letter-spacing: 0%;
          }
          & .offer {
            color: #00000066;

            text-decoration: line-through;
          }
          & .percentage {
            border-radius: 62px;
            padding: 6px 14px;
            background: #ff33331a;
            color: #ff3333;
            font-family: Satoshi;
            font-weight: 500;
            font-size: 12px;
            line-height: 16.2px;
            letter-spacing: 0%;
          }
        }
      }
    }
  }
}
