.navbar {
  padding: 24px 100px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.navbar-logo {
  font-family: Integral CF;
  font-weight: 700;
  font-size: 32px;
  leading-trim: Cap height;
  line-height: 38.4px;
  letter-spacing: 0%;
}
.navbar-link .links {
  display: flex;
  list-style: none;
  gap: 24px;
  align-items: center;
  font-family: Satoshi;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 0%;
}
.navbar-search-bar {
  display: flex;
  background: #f0f0f0;
  border-radius: 62px;
  align-items: center;
}
.navbar-search-bar .search {
  padding: 12px 12px 12px 16px;
}
.navbar-search-bar .text {
  padding: 12px 374px 14px 0;
  font-family: Satoshi;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.4);
}
a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "satoshi";
  src: url("/assets/font/Satoshi_Complete/OTF/Satoshi-Regular.otf");
}
@font-face {
  font-family: "Integral CF";
  src: url("/assets/font/Integral CF/Fontspring-DEMO-integralcf-regular.otf");
}
.hero-section {
  display: flex;
  background: #f2f0f1;
  height: 663px;
  width: 100%;
  padding-right: 100px;
  padding-left: 100px;
}
.hero-section-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.hero-section-text-wrapper {
  padding-top: 103px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.hero-section-text-wrapper h1 {
  font-family: Integral CF;
  font-weight: 700;
  font-size: 64px;
  leading-trim: Cap height;
  line-height: 64px;
  letter-spacing: 0%;
}
.hero-section-text-wrapper p {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 16px;
  leading-trim: Cap height;
  line-height: 22px;
  letter-spacing: 0%;
}
.hero-section-text-wrapper .btn button {
  padding: 16px 54px;
  border-radius: 62px;
  background: #000000;
  color: #ffffff;
}
.hero-section-text-numbers {
  display: flex;
  gap: 64px;
}
.hero-section-text-numbers h2 {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: 0%;
}
.hero-section-text-numbers p {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}
.hero-section-img {
  width: 50%;
  overflow: hidden;
}
.hero-section-img img {
  width: 100%;
}

.brands-section {
  background: #000000;
}
.brands-section .brands {
  padding: 44px 100px;
  display: flex;
  justify-content: space-between;
}

.new-products {
  padding: 72px 100px 64px 100px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.new-products-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Integral CF;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 0%;
  text-align: center;
}
.new-products .products {
  display: flex;
  gap: 20px;
}
.new-products .products .product {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.new-products .products .product img {
  width: 100%;
}
.new-products .products .product-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.new-products .products .product-text h3 {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0%;
}
.new-products .products .product-text img {
  width: 50%;
}
.new-products .products .product-text .price {
  display: flex;
  gap: 10px;
  align-items: center;
}
.new-products .products .product-text .price p {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.4px;
  letter-spacing: 0%;
}
.new-products .products .product-text .price .offer {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
}
.new-products .products .product-text .price .percentage {
  border-radius: 62px;
  padding: 6px 14px;
  background: rgba(255, 51, 51, 0.1019607843);
  color: #ff3333;
  font-family: Satoshi;
  font-weight: 500;
  font-size: 12px;
  line-height: 16.2px;
  letter-spacing: 0%;
}
.new-products .btn {
  display: flex;
  justify-content: center;
}
.new-products .btn button {
  border-radius: 62px;
  padding: 16px 54px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  font-family: Satoshi;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 0%;
}

.top-selling {
  padding: 72px 100px 64px 100px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.top-selling-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Integral CF;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 0%;
  text-align: center;
}
.top-selling .products {
  display: flex;
  gap: 20px;
}
.top-selling .products .product {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.top-selling .products .product img {
  width: 100%;
}
.top-selling .products .product-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.top-selling .products .product-text h3 {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0%;
}
.top-selling .products .product-text img {
  width: 50%;
}
.top-selling .products .product-text .price {
  display: flex;
  gap: 10px;
  align-items: center;
}
.top-selling .products .product-text .price p {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.4px;
  letter-spacing: 0%;
}
.top-selling .products .product-text .price .offer {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
}
.top-selling .products .product-text .price .percentage {
  border-radius: 62px;
  padding: 6px 14px;
  background: rgba(255, 51, 51, 0.1019607843);
  color: #ff3333;
  font-family: Satoshi;
  font-weight: 500;
  font-size: 12px;
  line-height: 16.2px;
  letter-spacing: 0%;
}
.top-selling .btn {
  display: flex;
  justify-content: center;
}
.top-selling .btn button {
  border-radius: 62px;
  padding: 16px 54px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  font-family: Satoshi;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 0%;
}

.dress-style-section {
  padding: 0px 100px;
}
.dress-style-section .dress-style {
  border-radius: 40px;
  background: #f0f0f0;
  padding: 70px 0 64px 0;
}
.dress-style-section .dress-style-section-text {
  display: flex;
  justify-content: center;
  font-family: Integral CF;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 0%;
  text-align: center;
}
.dress-style-section .dress-style-section-style {
  padding: 64px 64px 0px 64px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dress-style-section .dress-style-section-style-1 {
  display: flex;
  gap: 20px;
}
.dress-style-section .dress-style-section-style-1 img {
  width: 100%;
}
.dress-style-section .dress-style-section-style-2 {
  display: flex;
  gap: 20px;
}
.dress-style-section .dress-style-section-style-2 img {
  width: 100%;
}

.review-section {
  padding: 80px 100px;
}
.review-section-text {
  display: flex;
  justify-content: space-between;
}
.review-section-text-wrapper {
  font-family: Integral CF;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 0%;
}
.review-section-text-arrow {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}
.review-section-customer {
  padding-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.review-section-customer .review {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 20px;
  padding: 28px 32px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
}
.review-section-customer .review .text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.review-section-customer .review .text-wrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}
.review-section-customer .review .text-wrapper h6 {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 20px;
  leading-trim: Cap height;
  line-height: 22px;
  letter-spacing: 0%;
}
.review-section-customer .review .text-wrapper .img {
  display: flex;
  align-items: center;
}
.review-section-customer .review .text p {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}

.offer-section {
  padding: 0 100px;
}
.offer-section .offer {
  background: #000000;
  border-radius: 20px;
  padding: 36px 64px;
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 212px;
  align-items: center;
}
.offer-section-text h5 {
  font-family: Integral CF;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0%;
  color: #ffffff;
}
.offer-section-details {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}
.offer-section-details .email {
  display: flex;
  width: 349px;
  border-radius: 62px;
  padding: 12px 16px;
  gap: 12px;
  background: #ffffff;
  color: black;
  align-items: center;
}
.offer-section-details .email .img {
  display: flex;
}
.offer-section-details .email .text {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.4);
}
.offer-section-details .subscribe {
  display: flex;
  width: 349px;
  border-radius: 62px;
  padding: 12px 16px;
  gap: 12px;
  background: #ffffff;
  color: black;
  align-items: center;
  justify-content: center;
  font-family: Satoshi;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 0%;
}

.footer {
  background: #f0f0f0;
  padding: 50px 100px 80px 100px;
}
.footer .content {
  display: flex;
  justify-content: space-between;
  gap: 113px;
  padding-bottom: 50px;
}
.footer .content .logo {
  display: flex;
  gap: 35px;
  flex-direction: column;
}
.footer .content .logo-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer .content .logo h6 {
  font-family: Integral CF;
  font-weight: 700;
  font-size: 33.45px;
  leading-trim: Cap height;
  line-height: 40.15px;
  letter-spacing: 0%;
}
.footer .content .logo span {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.6);
}
.footer .content .help-menu {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.footer .content .help-menu .text-1 {
  font-family: Satoshi;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 3px;
}
.footer .content .help-menu .text-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Satoshi;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.6);
}
.footer .copyrights {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .copyrights .text {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.9px;
  letter-spacing: 0%;
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
}
.footer .copyrights .card {
  display: flex;
  align-content: center;
}

.icon {
  padding: 24px 100px 36px 100px;
  display: flex;
  gap: 12px;
  align-items: center;
}
.icon .list {
  display: flex;
  gap: 4px;
  align-items: center;
}
.icon .list-text {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 16px;
  leading-trim: Cap height;
  line-height: 21.6px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}
.icon .list-icon {
  display: flex;
  align-items: center;
}

.product-details-section {
  padding: 0 100px 80px 100px;
  display: flex;
  justify-content: space-between;
}
.product-details-section-tshirt {
  padding-right: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: space-between;
}
.product-details-section-image {
  padding-right: 40px;
}
.product-details-section-image img {
  height: 100%;
  width: 444px;
}
.product-details-section-text .product-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-details-section-text .product-text .h3 {
  padding-bottom: 14px;
}
.product-details-section-text .product-text h3 {
  font-family: Integral CF;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
}
.product-details-section-text .product-text .review-img {
  padding-bottom: 14.29px;
}
.product-details-section-text .product-text img {
  width: 193px;
}
.product-details-section-text .product-text .price {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 20px;
}
.product-details-section-text .product-text .price p {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.4px;
  letter-spacing: 0%;
}
.product-details-section-text .product-text .price .offer {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
}
.product-details-section-text .product-text .price .percentage {
  border-radius: 62px;
  padding: 6px 14px;
  background: rgba(255, 51, 51, 0.1019607843);
  color: #ff3333;
  font-family: Satoshi;
  font-weight: 500;
  font-size: 12px;
  line-height: 16.2px;
  letter-spacing: 0%;
}
.product-details-section-text .para {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 16px;
  leading-trim: Cap height;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 24px;
}
.product-details-section-text .select-color {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 16px;
  leading-trim: Cap height;
  line-height: 21.6px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 24px;
  padding-bottom: 16px;
}
.product-details-section-text .select-color-check {
  padding-bottom: 24px;
}
.product-details-section-text .select-color-check img {
  width: 143px;
}
.product-details-section-text .choose-size-text {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 16px;
  leading-trim: Cap height;
  line-height: 21.6px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 24px;
  padding-bottom: 16px;
}
.product-details-section-text .choose-size {
  display: flex;
  gap: 12px;
  padding-bottom: 24px;
}
.product-details-section-text .choose-size .size {
  border-radius: 62px;
  background: #f0f0f0;
  padding: 12px 24px;
  font-family: Satoshi;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-details-section-text .btn {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}
.product-details-section-text .btn .button-1 {
  display: flex;
  gap: 38px;
  border-radius: 62px;
  padding: 16px 20px;
  background: #f0f0f0;
  font-family: Satoshi;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 0%;
  width: 170px;
  justify-content: center;
  align-items: center;
}
.product-details-section-text .btn .button-2 button {
  background: #000000;
  padding: 16px 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 62px;
  cursor: pointer;
}

.diff-section {
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.diff-section-wrapper {
  display: flex;
  padding: 0px 140px;
  justify-content: space-between;
  align-items: center;
  font-family: Satoshi;
  font-weight: 400;
  font-size: 20px;
  leading-trim: Cap height;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}

.mini-line {
  width: 414px;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
}

.all-review-section {
  padding: 24px 100px 64px 100px;
}
.all-review-section-text {
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-review-section-text-1 {
  display: flex;
  gap: 8px;
  align-items: center;
}
.all-review-section-text-1 .t1 {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.4px;
  letter-spacing: 0%;
}
.all-review-section-text-1 .t2 {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 16px;
  leading-trim: Cap height;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}
.all-review-section-text-2 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.all-review-section-text-2 .btn-1 img {
  display: flex;
}
.all-review-section-text-2 .btn-2 img {
  display: flex;
}
.all-review-section-text-2 .btn-3 {
  border-radius: 62px;
  padding: 16px 20px;
  background: #000000;
  color: white;
  font-family: Satoshi;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 0%;
}
.all-review-section-review {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.all-review-section-review .review {
  border-radius: 20px;
  padding: 28px 32px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.all-review-section-review .review-text-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.all-review-section-review .review-text-1 .star {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-review-section-review .review-text-1 .text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.all-review-section-review .review-text-1 .text .h {
  display: flex;
  gap: 4px;
  align-items: center;
}
.all-review-section-review .review-text-1 .text .h-1 {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 20px;
  leading-trim: Cap height;
  line-height: 22px;
  letter-spacing: 0%;
}
.all-review-section-review .review-text-1 .text .h-2 img {
  display: flex;
}
.all-review-section-review .review-text-1 .text .p {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}
.all-review-section-review .review-text-2 {
  font-family: Satoshi;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}
.all-review-section-btn {
  display: flex;
  justify-content: center;
  padding-top: 36px;
}
.all-review-section-btn button {
  border-radius: 62px;
  padding: 16px 54px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  font-family: Satoshi;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 0%;
  background-color: white;
}

.navbar-logo a {
  text-decoration: none;
  color: black;
}

.you-might-also-like-section {
  padding: 0px 100px 78px 100px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.you-might-also-like-section-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Integral CF;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 0%;
  text-align: center;
}
.you-might-also-like-section .products {
  display: flex;
  gap: 20px;
}
.you-might-also-like-section .products .product {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.you-might-also-like-section .products .product img {
  width: 100%;
}
.you-might-also-like-section .products .product-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.you-might-also-like-section .products .product-text h3 {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0%;
}
.you-might-also-like-section .products .product-text img {
  width: 50%;
}
.you-might-also-like-section .products .product-text .price {
  display: flex;
  gap: 10px;
  align-items: center;
}
.you-might-also-like-section .products .product-text .price p {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.4px;
  letter-spacing: 0%;
}
.you-might-also-like-section .products .product-text .price .offer {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
}
.you-might-also-like-section .products .product-text .price .percentage {
  border-radius: 62px;
  padding: 6px 14px;
  background: rgba(255, 51, 51, 0.1019607843);
  color: #ff3333;
  font-family: Satoshi;
  font-weight: 500;
  font-size: 12px;
  line-height: 16.2px;
  letter-spacing: 0%;
}

.all-product {
  padding: 0px 100px 80px 100px;
  display: flex;
  gap: 20px;
}
.all-product-filter {
  padding: 20px 24px 29px 24px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  display: flex;
  gap: 24px;
  flex-direction: column;
  height: 100%;
}
.all-product-filter-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-product-filter-text .text-1 {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0%;
}
.all-product-filter-category {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.all-product-filter-category .category {
  display: flex;
  justify-content: space-between;
  font-family: Satoshi;
  font-weight: 400;
  font-size: 16px;
  leading-trim: Cap height;
  line-height: 21.6px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}
.all-product-filter-price {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.all-product-filter-price-text {
  display: flex;
  justify-content: space-between;
}
.all-product-filter-price-text .price-text {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0%;
}
.all-product-filter-price-text .cap {
  display: flex;
  align-items: center;
}
.all-product-filter-price-text .cap img {
  width: 100%;
}
.all-product-filter-colors {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.all-product-filter-colors-text {
  display: flex;
  justify-content: space-between;
}
.all-product-filter-colors-text .price-text {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0%;
}
.all-product-filter-colors-text .cap {
  display: flex;
  align-items: center;
}
.all-product-filter-colors-text .cap img {
  width: 100%;
}
.all-product-filter-size {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.all-product-filter-size-text {
  display: flex;
  justify-content: space-between;
}
.all-product-filter-size-text .price-text {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0%;
}
.all-product-filter-size-text .cap {
  display: flex;
  align-items: center;
}
.all-product-filter-size-text .cap img {
  width: 100%;
}
.all-product-filter-size-all {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}
.all-product-filter-size-all .size {
  border-radius: 62px;
  padding: 10px 20px;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Satoshi;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.9px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}
.all-product-filter-style {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.all-product-filter-style-text {
  display: flex;
  justify-content: space-between;
}
.all-product-filter-style-text .price-text {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0%;
}
.all-product-filter-style-text .cap {
  display: flex;
  align-items: center;
}
.all-product-filter-style-text .cap img {
  width: 100%;
}
.all-product-filter-btn {
  display: flex;
  justify-content: center;
}
.all-product-filter-btn button {
  border-radius: 62px;
  padding: 16px 54px;
  font-family: Satoshi;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.9px;
  letter-spacing: 0%;
  color: white;
  background: #000000;
  width: 247px;
}
.all-product-details {
  display: flex;
  flex-direction: column;
}
.all-product-details-text {
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-product-details-text .text-1 {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 32px;
  line-height: 43.2px;
  letter-spacing: 0%;
}
.all-product-details-text .text-2 {
  display: flex;
  gap: 12px;
  font-family: Satoshi;
  font-weight: 400;
  font-size: 16px;
  leading-trim: Cap height;
  line-height: 21.6px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}
.all-product-details-product {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 36px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-bottom: 32px;
}
.all-product-details-product .product {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.all-product-details-product .product-img img {
  width: 100%;
}
.all-product-details-product .product-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.all-product-details-product .product-text h3 {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0%;
}
.all-product-details-product .product-text .price {
  display: flex;
  gap: 10px;
  width: 188px;
}
.all-product-details-product .product-text .price p {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.4px;
  letter-spacing: 0%;
}
.all-product-details-product .product-text .price .offer {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.4px;
  letter-spacing: 0%;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}
.all-product-details-product .product-text .price .percentage {
  display: flex;
  align-items: center;
  border-radius: 62px;
  padding: 6px 14px;
  background: rgba(255, 51, 51, 0.1019607843);
  color: #ff3333;
  font-family: Satoshi;
  font-weight: 500;
  font-size: 12px;
  line-height: 16.2px;
  letter-spacing: 0%;
}
.all-product-details-pages {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.your-cart-section {
  padding: 0px 100px 80px 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.your-cart-section-text h2 {
  font-family: Integral CF;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
}
.your-cart-section-order {
  display: flex;
  gap: 20px;
}
.your-cart-section-order-details {
  padding: 20px 24px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.your-cart-section-order-details .product {
  display: flex;
  gap: 16px;
}
.your-cart-section-order-details .product-details {
  display: flex;
  justify-content: space-between;
  gap: 75px;
}
.your-cart-section-order-details .product-details-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.your-cart-section-order-details .product-details-text .text-1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.your-cart-section-order-details .product-details-text .text-1 h6 {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0%;
}
.your-cart-section-order-details .product-details-text .text-1 .para {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.9px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}
.your-cart-section-order-details .product-details-text .text-1 .para span {
  color: black;
}
.your-cart-section-order-details .product-details-text .text-2 {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.4px;
  letter-spacing: 0%;
}
.your-cart-section-order-details .product-details-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.your-cart-section-order-details .product-details-btn .remove-btn {
  display: flex;
  justify-content: flex-end;
}
.your-cart-section-order-details .product-details-btn .page-btn {
  display: flex;
  gap: 20px;
  padding: 12px 20px;
  background: #f0f0f0;
  font-family: Satoshi;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.9px;
  letter-spacing: 0%;
  border-radius: 62px;
}
.your-cart-section-order-summary {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  padding: 20px 24px;
  border-radius: 20px;
}
.your-cart-section-order-summary-text {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.4px;
  letter-spacing: 0%;
}
.your-cart-section-order-summary-total {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.your-cart-section-order-summary-total .fee {
  display: flex;
  justify-content: space-between;
}
.your-cart-section-order-summary-total .fee-text {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}
.your-cart-section-order-summary-total .fee-amount {
  font-family: Satoshi;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: right;
}
.your-cart-section-order-summary-code {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.your-cart-section-order-summary-code .add-promo-code {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 62px;
  padding: 12px 16px;
  background: #f0f0f0;
  width: 326px;
  font-family: Satoshi;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.4);
}
.your-cart-section-order-summary-code .add-promo-code .image {
  display: flex;
}
.your-cart-section-order-summary-code .apply-code button {
  border-radius: 62px;
  padding: 12px 16px;
  background: #000000;
  font-family: Satoshi;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 0%;
  color: white;
}
.your-cart-section-order-summary-checkout {
  display: flex;
  justify-content: center;
}
.your-cart-section-order-summary-checkout button {
  width: 457px;
  justify-content: center;
  display: flex;
  gap: 12px;
  align-items: center;
  border-radius: 62px;
  padding: 16px 54px;
  font-family: Satoshi;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 0%;
  color: white;
  background: black;
}
.your-cart-section-order-summary-checkout button .btn-image {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.sign-up {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 9px 100px 10px 544px;
  align-items: center;
}
.sign-up-link {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.9px;
  letter-spacing: 0%;
}

.click-me {
  font-family: Satoshi;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.9px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: Auto;
  text-decoration-thickness: Auto;
}

.line {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
}

.line2 {
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  width: 1240px;
}/*# sourceMappingURL=style.css.map */